body{
  display: flex;
 
  -ms-transform-origin-x: auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff;  */
  
}

/* .container{
 margin : 0 auto;
 justify-content: center;
  align-items: center;
} */
p{
  margin: 0;
}
.App {
  height: 100%;
 
 display: flex;
  /* width: 1200px;
  
  */
  /* justify-content:center; */
}

.flex-column {
  flex-direction: column;
}

/* login */
.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.login-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.login-nav-logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  top:auto;
  gap: 0.5rem;
}

.login-nav-logo img {
  width: 5rem;
}

.login-logo img{
  width: 20rem;

}
.center-area {
  display: flex;
  flex-direction: column;

  
  gap: 1rem;
  width: 100%;
}

.login-wrapper{

}
/* Login end */

/* Dashboard */
.devices-page {
  padding: 0.25rem 1rem;
}
.empty-placeholder{
  display: flex;
  flex: 1 0 16rem;
  width: 40rem;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 16rem;
  border: 1px solid lightgray;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.tiles-wrapper {
  display: flex;
  align-self: flex-start;
  flex: 1 0 40%;
  gap: 2rem;
  flex-wrap: wrap;
}
.device-tile {
  flex: 1 0 10rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.device-name {
  margin-top: 10px;
}
.temp-details{
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.temp-details img {
  width: 1.5rem;
  margin-right: 1rem;
}
.temp-details p {
  font-weight: 500;
  font-size: 2rem;
}

/* Dashboar end */



.device-detail {
  border: none;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
}

/* PAGE */

.detail-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-wrapper{
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.btn {
  padding: 0.75rem;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: all;
}

.btn-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn-content p {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 500;
}
.max-min-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.max-min {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


select{
  width: 6rem;
  padding: 0.5rem;
}
input{
  width: 4rem;
  padding: 0.5rem;
}



/* Loader css */
.loader-5 {
	height: 32px;
	width: 32px;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}

/*changes by rishi starts from here */
.Sidebar {
  
  width: 3%;
  
  
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #2565e6;
  padding: 20px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  align-items: center;
  
}
.SidebarItem {
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 10px 0; /* Adjust the margin to control the vertical space between items */
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  padding-right: 30px;
  padding-top: 5px;/* background-color: #ffffff; */
  border-radius: 10px;
  
  margin-left: 15px;
  
}

.main-content {
  /* Set your desired fixed width */
   /* Center the content */
   margin: 10px;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-top: 20px;
  
  
  
  
}

.left-section {
   /* Set the fixed width for the left section */
  
  padding: 0px;
  
  background-color: #f5f5f5;
  
  border-radius: 20px;
   /* Include padding and border in the total width */
}

.right-section {
  /* Set the fixed width for the right section */
 
  position: relative;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  
  
  
   /* Include padding and border in the total width */
}

.weather-section {
 
  width: 100%;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;
  /* padding: 10px; */
  justify-content: center;
  text-align: center;
  align-items: center;
}

.left-section .header {
  display: flex;
  /* margin: 10px; */
  margin-left: 20px;
  background-color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
}

/* .left-section .humidity, */
.left-section .temperature,
.left-section .dropdown {
  display: flex;
  align-items: center;
  padding-left: 20px ;
  background-color: #ebeff4;
  border-radius: 10px;
  
}

.left-section .scrollable-section {
  height: auto;
  
  flex-direction: row;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  
}

.rooms {
  
  /* margin-top: 5px; */
  padding: 5px;
  height: auto;
  background-color: #f5f5f5;
}

.rooms .scrollable-section {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding: 10px;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  height: 135px;
  overflow-y: hidden;
}

.rooms .scrollable-section::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.card {
  min-height: 120px;
  min-width: 160px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  position: relative;
}

.status-text {
  position: absolute;
  top: 10px;
  left: 10px;
}

.color-switch {
  position: absolute;
  top: 10px;
  left: 10px;
 
  
}

.color-switch-text {
  color: rgb(0, 83, 0);
}

.color-switch-text-off {
  color: rgb(255, 0, 0);
}

.card-content {
}

.device-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #000000;
}

.device-icon {
  position: absolute;
  color: #2565e6;
  top: 30px;
  left: 10px;
}

.switch-container {
  position: absolute;
  bottom: 30px;
  right: 10px;
  
}
.control-panel {
  border-radius: 10px;
  min-height: 330px;
  background-color: #ffffff;
  margin-left: 2%;
  margin-right: 2%;
  flex: content;
  
}
/* .card.selected-card {
  background-color: #7c41f5;
  color: white; /* Set the text color to contrast with the background */
/* }
.device-name.selected-text {
  color: white;
}

.device-icon.selected-icon {
  color: white;
} */ */
/* Weathercard.css */

/* Style for the container */
.text-center {
  text-align: center;
  margin-bottom: 1rem;
}

/* Style for the name */
.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Style for the description */
.mb-1 {
  margin-bottom: 1rem;
}

/* Style for the temperature */
.temp {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Style for the pressure and humidity */
.pressure, .humidity {
  font-size: 1rem;
  color: #555;
  text-align: center;
  
}

/* Style for the separator */
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* Weathercard.css */

/* Style for the card */
.MDBCard {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

/* Style for the card body */
.MDBCardBody {
  color: #333;
  font-size: 16px;
}

/* Style for the card header */
.MDBCardHeader {
  font-weight: bold;
  color: #000;
}


.MyDevicesPaper {
  max-width: 95%;
 background-color: #f5f5f5;
  padding: 15px;
  border: 2px solid #2565e6;
  border-radius: 20px;
}

.MyDevicesHeader {
  height: 15%;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
}

.dropdown {
  /* width: 80px; */
  margin-right: 40px;
}

.CardsContainer {
  max-height: calc(2 * (150px + 8px) + 8px); /* Max height for 2 rows */
  width: auto;
  max-width: 420px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.CardsContainer::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(29, 29, 29, 0.5); 
}

/* Optional: If you want to hide the scrollbar for Firefox */
.CardsContainer {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Optional: Make the scrollbar area transparent */
}

/* Optional: If you want to hide the scrollbar for IE and Edge */
.CardsContainer {
  -ms-overflow-style: none;
}


.login-logo-big img{
  width: 23rem;
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */

}
.login-logo-big{
  display: flex;
  justify-content: center;
 
  flex-direction: column;
}

.login-wrapper-big{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  flex-direction: column;
  /* margin-top: 2rem; */
  
}

.center-area{  
  background-color: #ffffff;
  margin-top: 50px;
}